
@{
    ViewData["Title"] = "login";
}
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="/css/examples.css" rel="stylesheet">
    <link href="/vendors/coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    <script type="text/javascript">


    </script>

</head>
<body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mb-4 mx-4">
                        <div class="card-body p-4">
                            <h1>Register</h1>
                            <p class="text-medium-emphasis">Create Administrator Account</p>
                            <form asp-action="register" asp-controller="account" method="post">
                                @Html.AntiForgeryToken()
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <svg class="icon">
                                            <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-user"></use>
                                        </svg>
                                    </span>
                                    <input class="form-control" type="text" name="userfname" placeholder="First name" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <svg class="icon">
                                            <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-user"></use>
                                        </svg>
                                    </span>
                                    <input class="form-control" type="text" name="userlname" placeholder="Last Name" required>
                                </div>


                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <svg class="icon">
                                            <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-user"></use>
                                        </svg>
                                    </span>
                                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <svg class="icon">
                                            <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-lock-locked"></use>
                                        </svg>
                                    </span>
                                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-text">
                                        <svg class="icon">
                                            <use xlink:href="/vendors/coreui/icons/svg/free.svg#cil-lock-locked"></use>
                                        </svg>
                                    </span>
                                    <input class="form-control" type="password" name="confirm_password" placeholder="Repeat password" required>
                                </div>
                                <button class="btn btn-block btn-success" type="submit">Create Account</button>
                            </form>
                            <p class="mt-2">Only one administrator account can be created by register. futher account will be created by Administrator</p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/vendors/coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="/vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="/vendors/chart.js/js/chart.min.js"></script>
    <script src="/vendors/coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="/vendors/coreui/utils/js/coreui-utils.js"></script>
</body>
</html>