@{
    ViewData["Title"] = "About";
}


<div class="row text-center">
    <div class="col mx-2">
        <h2 class="">Karnataka State Open University</h2>
        <h4 class="my-1">Project on Contact Tracing For COVID Scenerio</h4>
        <br />
        <h5 class="my-1">By</h5>
        <h5 class="my-1">Nagendra Pal Singh</h5>
        <h5 class="my-1">#19010230001</h5>
        <br />
        <h5 class="my-1">In Guidence of</h5>
        <h5 class="my-1">​Smt. Suneetha</h5>
        <h5 class="my-1"> Assistant Professor and Chairperson</h5>
        <h5 class="my-1">Computer Science Department KSOU Mysore</h5>
        <br />
        <br />
        <h5>Tools Used</h5>
        <table class="table">
            <tr>
                <td>Main Programming Language</td>
                <td>C#</td>
            </tr>
            <tr>
                <td>Backend Framework</td>
                <td>.Net Core</td>
            </tr>
            <tr>
                <td>Database</td>
                <td>Microsoft SQL Server</td>
            </tr>
            <tr>
                <td>Frontend Programming</td>
                <td>JavaScript, Jquery</td>
            </tr>
            <tr>
                <td>Frontend Styling</td>
                <td><a href="https://getbootstrap.com/">Bootstrap</a></td>
            </tr>
            <tr>
                <td>Frontend Framework</td>
                <td><a href="https://coreui.io/">CoreUI</a></td>
            </tr>
            <tr>
                <td>Graph Library</td>
                <td><a href="https://d3js.org/">D3</a></td>
            </tr>
        </table>



    </div>
    

</div>